---
import Layout from '../layouts/Layout.astro'
import Game from '../logika/Game.svelte'
---

<Layout>
  <h1>
    <a href="https://github.com/angryziber/logika">Logika / Mastermind</a>
  </h1>
  <Game client:load/>
</Layout>
