---
import '../global.css'
import Game from '../logika/Game.svelte'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png">
    <meta name="viewport" content="width=430">
    <title>Logika / Mastermind</title>
  </head>
  <body>
    <main>
      <h1>
        <a href="https://github.com/angryziber/logika">Logika / Mastermind</a>
      </h1>
      <Game client:load/>
    </main>
  </body>
</html>

